@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500&family=Inter:wght@400;500;600&display=swap');

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

body, p, span, a {
  font-family: 'Inter', sans-serif;
}
